@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
    height: 100%;
    margin: 0px;
    font-family: "Montserrat";
    color: #00006B;
}

.div-alinhamento-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

.header {
    align-items: center;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    left: 0px;
    overflow: hidden;
    padding: 16px 134px;
    top: 0px;
}

.logo {
    background-color: transparent;
    flex: 0 0 auto;
    position: relative;
}

.div-informacoes {
    align-items: center;
    background-color: transparent;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 64px;
    justify-content: center;
    position: relative;
}

.nav-bar {
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
}


.div-fale-conosco {
    background-color: transparent;
    line-height: normal;
}

.div-servicos {
    background-color: transparent;
    height: 44px;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: 108px;
}

.div-nossa-equipe {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: normal;
}

.div-case-de-sucesso {
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: normal;
}

.div-menu {
    display: inline-flex;
    justify-content: right;
    align-items: center;
    width: 64px;
}

h3 {
    font-weight: lighter;
}

.div-botao-sucesso {
        display: flex;
        justify-content: center;
        height: 200px;
        align-items: flex-end;
        
}

.div-cards {
    height: 335px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: flex-end;
}

.botao-sucesso {
    height: 41px;
    overflow: hidden;
    padding: 12px 10px;
    top: 243px;
    width: 370px;
    color: #f3f2ff;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00006b;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1.60px;
    line-height: normal;
    margin-bottom: -0.50px;
    margin-top: -2.50px;
    text-align: center;
    justify-content: center;
}

.seta {
    align-items: center;
    margin-bottom: -0.50px;
    margin-top: -2.50px;
    position: relative;
    text-align: center;
}

.div-juntos-crescimento {
    height: 172px;
    left: 335px;
    display: flex;
    justify-content: center;
    top: 292px;
    align-items: flex-start;
}

.paragrafo-crescimento {
    display: flex;
    justify-content: center;
}

h1 {
    background-color: transparent;
    color: var(--fuzzy-wuzzy);
    font-family: var(--font-family-montserrat);
    font-size: 60px;
    font-style: normal;
    font-weight: bold;
    height: 163px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    text-align: center;
    top: 0px;
    width: 770px;
}

.paragrafo-negocio {
    background-color: transparent;
    color: #011640;
    font-family: var(--font-family-montserrat);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    left: 100px;
    letter-spacing: 0.00px;
    line-height: normal;
    text-align: center;
    top: 180px;
    width: 600px;
}

.div-botao-fale-conosco {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 12px 10px;
    flex-direction: column;
}

.botao-fale-conosco {
    height: 45px;
    left: 610px;
    top: 590px;
    overflow: hidden;
    color: #000000;
    border-radius: 8px;
    background-color: #ffe600;
    font-family: var(--font-family-montserrat);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 2.00px;
    margin-bottom: -0.50px;
    margin-top: -2.50px;
    text-align: center;
    white-space: nowrap;
    width: 220px;
    border: 0 none;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seta-indo-para-baixo {
    background-color: transparent;
    height: 68px;
    left: 705px;
    top: 720px;
    width: 60px;
    margin-top: 75px;
}


.div-nossos-servicos {
    background-color: transparent;
    color: #00006B;
    font-family: var(--font-family-montserrat);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    height: 90px;
    left: 135px;
    letter-spacing: 0.00px;
    line-height: normal;
    text-align: center;
    top: 833px;
}

.div-transformacao-digital {
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--fuzzy-wuzzy);
    border-radius: 8px;
    box-shadow: 4px 4px 15px #00000040;
    height: 351px;
    left: 135px;
    top: 935px;
    width: 270px;
}

.div-ciber {
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--fuzzy-wuzzy);
    border-radius: 8px;
    box-shadow: 4px 4px 15px #00000040;
    height: 351px;
    left: 435px;
    top: 935px;
    width: 270px;
}

.div-infra {
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--fuzzy-wuzzy);
    border-radius: 8px;
    box-shadow: 4px 4px 15px #00000040;
    height: 351px;
    left: 735px;
    top: 935px;
    width: 270px;
}

.div-big-data {
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--fuzzy-wuzzy);
    border-radius: 8px;
    box-shadow: 4px 4px 15px #00000040;
    height: 351px;
    left: 1035px;
    top: 935px;
    width: 270px;
}

.div-todos-os-cards {
    align-items: start;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.div-foto {
    height: 120px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.fotos-cards {
    height: 66px;
    left: 237px;
    top: 928px;
    width: 66px;
}

.texto-definicao-cards {
    display: flex;
    justify-content: center;
}

.div-texto-cards {
    height: 24px;
    line-height: normal;
    text-align: center;
    top: 1008px;
    width: 269px;
    color: var(--fuzzy-wuzzy);
    font-family: var(--font-family-montserrat);
    font-size: 20px;
    font-weight: 600;
}


.paragrafo-definicao {
    text-overflow: clip;
    padding: 3px;
    width: 205px;
    line-height: 18px;
    margin: 0;
    color: #000000;
    font-family: var(--font-family-montserrat);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    
}

.div-solucao-completa {
    background-color: #00006b;
    border: 1px solid;
    border-color: var(--fuzzy-wuzzy);
    border-radius: 8px;
    box-shadow: 0px 4px 4px #00000040;
    height: 300px;
    left: 135px;
    top: 1325px;
    width: 570px;
}

.titulo-solucao-completa {
    color: #FFF;
    font-family: var(--font-family-montserrat);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    left: 168px;
    letter-spacing: 0.00px;
    line-height: normal;
    text-align: center;
    top: 1344px;
    white-space: nowrap;
    width: 344px;
    margin-left: 28px;
}


.foto-check {
    display: flex;
    justify-content: flex-end;
}

.texto-solucao {
    color: white;
    font-family: var(--font-family-montserrat);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 168px;
    letter-spacing: 0.00px;
    line-height: normal;
    text-align: left;
    top: 1375px;
    width: 489px;
    margin-left: 35px;
}

.tecnologia {
    height: 300px;
    left: 735px;
    object-fit: cover;
    top: 1287px;
    width: 569px;
}

.div-tecnologia {
    background-color: #00006b;
    border: 1px solid;
    border-color: var(--fuzzy-wuzzy);
    border-radius: 8px;
    box-shadow: 0px 4px 4px #00000040;
    height: 295px;
    left: 736px;
    top: 1325px;
    width: 570px;
}

.descricao {
    overflow: hidden;
    background-color: #00006b;
    border-radius: 31px;
    height: 652px;
    left: 135px;
    width: 1170px;
    top: 1702px;
}

.fotos-logos {
    display: flex;
    align-items: center;
    height: 485px;
    width: 420px;
    padding: 70px;
}

.linha {
    width: 5px;
}

.div-descricao {
    display: flex;
    justify-content: center;
    height: 770px;
    align-items: flex-end;
}

.descricao-case {
    left: 300px;
    top: 140px;
}

.case-de-sucesso {
    color: #FFE600;
    font-family: var(--font-family-montserrat);
    font-size: 40px;
    font-style: normal;
    font-weight: bolder;
    left: 331px;
    text-align: left;
    top: 0px;
    margin-left:22px;
}

.paragrafo-case-de-sucesso {
    color: #d9d9d9;
    font-family: var(--font-family-montserrat);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    left: 331px;
    letter-spacing: 0.00px;
    line-height: normal;
    text-align: left;
    top: 50px;
    width: 510px;
    margin-left:22px;
}

.gradiente {
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(116.00000068545341, 156.00000590085983, 215.0000023841858) 22.899961471557617%, rgb(43.00000123679638, 40.00000141561031, 131.00000739097595) 62.39996552467346%, rgb(0, 0, 107.00000122189522) 100%);
    background-color: transparent;
    height: 960px;
    mix-blend-mode: normal;
    overflow: hidden;
    margin-top: 60px;
}

.engloba-nossa-equipe{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 850px;
}

.nossa-equipe {
    align-items: center;
    background-color: #FFF;
    border-radius: 31px;
    display: flex;
    flex-direction: column;
    height: 652px;
    justify-content: center;
    top: 113px;
    width: 1170px;
}

.estilo-paragrafo-nossa-equipe{
    color: var(--fuzzy-wuzzy);
    font-family: var(--font-family-montserrat);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    height: 72px;
    position: relative;
    text-align: center;
    width: 398px;
    letter-spacing: 0.00px;
    background-color: transparent;
    letter-spacing: 0.00px;
    line-height: normal;
}

.fotos-integrantes {
    display: flex;
    align-items: center;
    width: 1170px;
    justify-content: space-around;
}

.estilo-nome-inicio {
    color: var(--fuzzy-wuzzy);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 600;
}

.descricao-participantes {
    display: flex;
    gap: 40px;
    width: 1170px;
    justify-content: space-around;
}

.estilo-nome-texto-no-final {
    color: var(--fuzzy-wuzzy);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 600;
    text-align: end;
}

.estilo-nome-meio {
    color: var(--fuzzy-wuzzy);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

.formulario {
    background-color: transparent;
    left: 0px;
    top: 142px;
    display: flex;
    justify-content: center;
}

.retangulo-formulario {
    background-color: #00006B;
    border-radius: 32px;
    height: 641px;
    left: 0px;
    overflow: hidden;
    top: 9px;
    width: 491px;
    margin-top: 70px;
}

.entre-em-contato {
    background-color: transparent;
    color: #FFE600;
    font-family: var(--font-family-poppins);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    height: auto;
    left: 40px;
    letter-spacing: 0.00px;
    line-height: normal;
    padding: 35px;
    text-align: left;
    top: 65px;
    width: auto;
}


.dados {
    display: flex;
    flex-direction: column;
    padding: 35px;
}

.dados div {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.estilo-dados {
    margin-left: 10px;
}

.dados img {
    width: 24px;
    height: auto;
}


.estilo-dados {
    color: #FFF;
    height: auto;
    left: 49px;
    letter-spacing: 0.00px;
    line-height: normal;
    text-align: left;
}

.esferas {
    position: relative;
}

.bola-amarela {
    bottom: 0; /* Distância entre a bola amarela e a parte inferior da div formulário */
    right: 0; /* Distância entre a bola amarela e a borda direita da div formulário */
}


.bola-azul {
    position: absolute;
    bottom: 0;
    right: 0;
}

.formulario-com-campos{
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 90px;
    padding: 35px;
    height: 500px;
}

.divAuxHorizontal{
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.form-control,label,input{
    padding:5px;
    margin:10px;
    position:relative;
    width:300px;  
    font-family: "Montserrat";
  }
  .form-control input{
    border:0;
    border-bottom:1px solid #00006b;
    outline:0;
    width:100%;
    background-color:transparent;
    font-size:16px;
    font-family: "Montserrat";
  }
  .form-control input:focus{
     border-bottom:1px solid #00006b;
     font-family: "Montserrat";
  }
  .form-control label{ 
    position:absolute;
    top:-7px;
    left:0;  
    font-size:18px;
    font-family: "Montserrat";
  }
  .form-control input:focus+label{
    transform:translateY(-14px);
    color:#00006b;
    transition:0.2s ease-out;
    font-family: "Montserrat";
  }

  .form-control2,#labelDesc,#inputDesc{
    padding:5px;
    margin:10px;
    position:relative;
    width:650px;  
    font-family: "Montserrat";
  }
  .form-control2 #inputDesc{
    border:0;
    border-bottom:1px solid #00006b;
    outline:0;
    width:100%;
    background-color:transparent;
    font-size:16px;
    font-family: "Montserrat";
  }
  .form-control2 #inputDesc:focus{
     border-bottom:1px solid #00006b;
     font-family: "Montserrat";
  }
  .form-control2 #labelDesc{ 
    position:absolute;
    top:-7px;
    left:0;  
    font-size:18px;
    font-family: "Montserrat";
  }
  .form-control2 #inputDesc:focus+#labelDesc{
    transform:translateY(-14px);
    color:#00006b;
    transition:0.2s ease-out;
    font-family: "Montserrat";
  }

  .divButton{
    display: flex;
    align-self: end;
  }

  .custom-button {
    background-color: #1a0755; /* Cor de fundo do botão (azul escuro) */
    color: #ffd700; /* Cor do texto (amarelo) */
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para o botão */
    transition: background-color 0.3s, transform 0.3s;
}

.custom-button:hover {
    background-color: #0f0330; /* Cor de fundo do botão ao passar o mouse */
    transform: translateY(-2px); /* Leve movimento para cima ao passar o mouse */
}

.custom-button:active {
    transform: translateY(2px); /* Leve movimento para baixo ao clicar */
}

/* Footer */

.footer{
    background-color: #00006b;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-family: "Montserrat";
    margin-top: 80px;
}

